<mat-toolbar class="main-header" color="primary">
  <mat-toolbar-row>
    <a routerLink="/">
      <img [ngSrc]="'assets/logo.png'" width="228" height="45" alt="logo" priority="true">
    </a>

    <button mat-flat-button *ngFor="let tab of programTypeTabs"
            [color]="activeProgramTypeTab == tab ? 'accent' : 'primary'"
            (click)="activeProgramTypeTab = tab" [routerLink]="'/' + tab.toLowerCase()">
      <asset-icon [name]="'icon-' + tab.toLowerCase()"/>{{tab | titlecase}}
    </button>

    <span class="spacer"></span>
    <button mat-button class="left-border">
      <asset-icon name="icon-filter"/>Filter
    </button>
    <button mat-button class="left-border right-border">
      Login<asset-icon name="icon-login" pos="end"/>
    </button>
    <button mat-flat-button color="accent" class="btn-rounded free-trial">Start your free trial</button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>


<mat-toolbar class="main-footer" color="primary">
  <img [ngSrc]="'assets/logo.png'" width="150" height="30" alt="logo" priority="true">
  <div class="footer-links">
    <a href=".">Home</a>
    <a href=".">Terms of Use</a>
    <a href=".">Legal Notices</a>
    <a href=".">Help</a>
    <a href=".">Manage Account</a>
  </div>
  <div class="footer-links" style="margin-top: 5px">
    <a><img [ngSrc]="'assets/app-store.png'" width="100" height="30" alt="app store"></a>
    <a><img [ngSrc]="'assets/google-play.png'" width="100" height="30" alt="google play"></a>
  </div>
  <p class="copyright">Copyright 2024 Dreadful Tomato Streaming. All Right Reserved</p>
</mat-toolbar>
