@use '@angular/material' as mat;
@import "theme";
@import "variables";

@media (min-width: 1200px) {
  .main-header {
    padding: 0 5%;
  }
}

.main-header {
  min-height: 0;
  position: fixed;
  top: 0;
  z-index: 100;

  mat-toolbar-row:first-child {
    height: $header-row1-height !important;
    min-height: $header-row1-height !important;

    img:first-child {
      margin-right: 1rem;
    }

    .spacer {
      flex: 1 1 auto;
    }

    button {
      &:not(.free-trial) {
        height: 100%;
        padding: 0 1rem;
        border-radius: 0;
      }

      &.free-trial {
        margin-left: 20px;
        padding: 0 2rem;
        border-radius: 50px;
      }

      &.left-border {
        border-left: 2px solid $btn-border-gray;
      }

      &.right-border {
        border-right: 2px solid $btn-border-gray;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: $header-row1-height;
  min-height: calc(100vh - $header-row1-height - $main-footer-min-height);
}

.main-footer {
  min-height: $main-footer-min-height;
  flex-direction: column;
  gap: 0.45rem;
  justify-content: center;

  .footer-links {
    display: flex;
    gap: 1rem;
  }

  .copyright {
    margin: 0;
    font-size: small;
    color: dimgray;
  }
}
