@use '@angular/material' as mat;
@import "theme";

:host {
  display: flex;

  .category {
    position: relative;
    flex-grow: 1;
    opacity: 80%;

    &:hover {
      opacity: 100%;

      .overlay-text {
        opacity: 100%;
      }
    }

    img {
      position: relative !important;
      display: block;
    }

    .overlay-text {
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: mat.get-color-from-palette($accent-palette, default);
      opacity: 80%;

      h1 {
        margin-left: 2rem;
      }
    }
  }
}