:host {
  div {
    display: inline-block;
    vertical-align: middle;

    img {
      position: relative !important;
      object-fit: contain;
    }
  }

  @media (max-width: 900px) {
    &.responsive > div {
      margin: 0 !important;
    }
  }
}
