@use '@angular/material' as mat;
@import "theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;
  color: $black-palette-contrast;
}

h1, h2, h4, h6 {
  letter-spacing: 0.1rem;
}

.year-range-picker {
  height: fit-content !important;

  mat-calendar-header {
    .mat-calendar-header, .mat-calendar-controls {
      margin: 0;
      padding: 0;
    }

    button.mat-calendar-period-button {
      display: none;
    }
  }
}

.on-accent-bg-field {
  @include mat.private-form-field-density(-4);
  margin-top: 7px;
  border-radius: 20px;

  .mdc-text-field {
    height: 35px;
    overflow: visible;
    background-color: whitesmoke !important;
    border-radius: 140px;

    .mat-mdc-form-field-flex {
      height: 100%;
    }

    input {
      color: black !important;

      &::placeholder {
        color: darkgray !important;
      }
    }

    .mat-mdc-form-field-icon-prefix {
      mat-icon {
        padding: 0 0 0 8px;
      }

      mat-datepicker-toggle {
        mat-icon {
          padding: 0;
        }

        mat-mdc-button-persistent-ripple {
          display: none;
        }
      }
    }
  }

  .mdc-line-ripple, .mat-mdc-form-field-focus-overlay {
    display: none;
  }
}
