@use '@angular/material' as mat;

@include mat.core();
@import "colors";

$color-primary: mat.define-palette($black-palette, 100, 100, 100);
$color-accent: mat.define-palette(mat.$red-palette, A700, 800, 900);
$color-warn: mat.define-palette(mat.$deep-orange-palette);

$tomato-theme: mat.define-dark-theme((
  color: (
    primary: $color-primary,
    accent: $color-accent,
    warn: $color-warn,
  )
));

@include mat.all-component-themes($tomato-theme);
